.side-bar
  .header
    %h1.header__name 
      name  
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
  