.side-bar
  .header
    %h1.header__name 
      name1  
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
  
  .groups
    .group
      %h2.group__name
        name2
      %h3.group__message
        name3
